body {
    width: 100vw;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: purple;
}

header {
    margin: 0;
    padding: 0;
    display: inline-flex;
    width: 100%;
    text-decoration: none;
    
}

h2 {
    margin: 0;
    padding: 0;
    display: inline-flex;
    background-color: rgba(127, 255, 212, 0.752);

}

nav ul {
    display: inline-flex;
    padding: 0;
    background-color: rgba(127, 255, 212, 0.752);
    text-align: right;
    width: 100%;
    margin: auto;
}

nav ul li {
    display: inline-flex;
    padding: 1rem 2rem 1rem 2rem;
    text-transform: uppercase;
}

article,footer {
    display: block;
    position: relative;
    margin: auto;
    padding: auto;
    max-width: 80%;
    max-height: auto;
}

ul {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(10rem,20rem));
    list-style: none;
    grid-gap: 2em;
    justify-content: center;
    margin: 0;
    padding: 0;
    position: relative;
}

article ul li {
    display: block;
    background-color: aqua;
    height: 4em;
    text-align: center;
    justify-content: center;
    max-width: 100%;
    position: relative;
}

.heading {
    text-align: center;
    color: blue;
}

.heading h1 {
    font-size: 2em;
}
.heading p {
    display: inline-flex;
}

li div {
    padding: 2px;
    border: 1px solid salmon;
    width: 10%;
    height: 40%;
    background: salmon;
    position: absolute;

    
}