:root {
    --prime-yellow-light: #FFE3A2;
}

body {
    margin: 0;
}

#input_form_section {
    margin: auto;
    width: 55%;
    padding: 2.5rem;
    position: absolute;
    top: 25%;
    left: 25%;
    background-color: var(--prime-yellow-light);
    border-radius: 20px;
}

#registration_form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
}

#registration_form label {
    position: relative;
}
#registration_form input {
    border: none;
    border-radius: 3px;
    padding: 0.3rem;
}
.error_msg {
    position: absolute;
    z-index: 1;
    margin: 3px 0;
    left: 0;
    color: red;
}
.error_msg:empty {
    display: none;
    
}
#additional_information_form {
    display: none;
    flex-direction: column;
    background-color: aquamarine;
    padding: 1rem;
}
#show_more {
    display: flex;
    align-items: center;
}
#more_information {
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 2px 0;
}